<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../build/styles.css" rel="stylesheet" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="/js/ejs.min.js"></script>
  </head>
  <body>
    <div class="bg-cyan-600 h-screen">
      <%- include('../../partial/nav/index'); %>
      <header class="bg-cyan-600">
        <div
          class="flex items-center justify-between max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8 bg-cyan-600 border-b-2 border-white border-solid"
        >
          <h1 class="text-lg leading-6 font-semibold text-white">Reports</h1>
        </div>
      </header>
      <main class="bg-cyan-600">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 bg-cyan-600">
          <!-- Content -->
          <div class="px-4 py-4 sm:px-0">
            <div
              class="border-4 border-dashed border-gray-200 rounded-lg h-auto bg-gray-100"
            >
              <!-- cashflow, expense, and income summary -->
              <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <h2 class="text-lg mt-5 leading-6 font-medium text-gray-900">
                  Overview
                </h2>
                <div
                  class="mt-2 grid grid-cols-1 gap-5 items-start sm:grid-cols-2 lg:grid-cols-3"
                >
                  <!-- Cashflow -->
                  <div class="bg-white overflow-hidden shadow rounded-lg">
                    <div class="p-5">
                      <div class="flex items-center">
                        <div class="flex-shrink-0">
                          <i class="far fa-money-bill-alt fa-2x"></i>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                          <dl>
                            <dt
                              class="text-sm font-medium text-gray-500 truncate"
                            >
                              <span>Cash Flow</span>
                            </dt>
                            <dd>
                              <div
                                id="cashflow-detail"
                                class="text-lg font-medium text-gray-900"
                              >
                                <span>Total</span>
                                <% let cashflow = totalIncomeResult -
                                totalExpenseResult %>
                                <span class="float-right"
                                  >$<%= _.round(cashflow,2) %></span
                                >
                              </div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-5 py-3">
                      <div class="text-sm">
                        <a
                          id="cashflow-expand"
                          class="font-medium text-cyan-700 hover:text-cyan-900 cursor-pointer"
                        >
                          View all
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Expense -->
                  <div class="bg-white overflow-hidden shadow rounded-lg">
                    <div class="p-5">
                      <div class="flex items-center">
                        <div class="flex-shrink-0">
                          <i class="fas fa-receipt fa-2x"></i>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                          <dl>
                            <dt
                              class="text-sm font-medium text-gray-500 truncate"
                            >
                              Expense
                            </dt>
                            <dd>
                              <div
                                id="expense-detail"
                                class="text-lg font-medium text-gray-900"
                              >
                                <span>Total</span>
                                <span class="float-right"
                                  >$<%= _.round(totalExpenseResult,2) %></span
                                >
                              </div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-5 py-3">
                      <div class="text-sm">
                        <a
                          id="expense-expand"
                          class="font-medium text-cyan-700 hover:text-cyan-900 cursor-pointer"
                        >
                          View all
                        </a>
                      </div>
                    </div>
                  </div>

                  <!-- Income -->
                  <div class="bg-white overflow-hidden shadow rounded-lg">
                    <div class="p-5">
                      <div class="flex items-center">
                        <div class="flex-shrink-0">
                          <i class="fas fa-wallet fa-2x"></i>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                          <dl>
                            <dt
                              class="text-sm font-medium text-gray-500 truncate"
                            >
                              Income
                            </dt>
                            <dd>
                              <div
                                id="income-detail"
                                class="text-lg font-medium text-gray-900"
                              >
                                <span>Total</span>
                                <span class="float-right"
                                  >$<%= _.round(totalIncomeResult,2) %></span
                                >
                              </div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-5 py-3">
                      <div class="text-sm">
                        <a
                          id="income-expand"
                          class="font-medium text-cyan-700 hover:text-cyan-900 cursor-pointer"
                        >
                          View all
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Expense & Budget by category -->
              <div
                class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 grid grid-cols-1 gap-5 sm:grid-cols-1 lg:grid-cols-2"
              >
                <!-- Expense by categories -->
                <div class="mt-2">
                  <!-- Card -->
                  <h2 class="text-lg mt-5 leading-6 font-medium text-gray-900">
                    By Category
                  </h2>
                  <div class="mt-2 bg-white overflow-hidden shadow rounded-lg">
                    <div class="p-5">
                      <div class="flex items-center">
                        <!-- <div class="flex-shrink-0">
                          <i class="far fa-money-bill-alt fa-2x"></i>
                        </div> -->
                        <div class="ml-5 w-0 flex-1">
                          <dl id="expense-category-data">
                            <dt
                              class="text-md font-medium text-gray-500 truncate mb-3"
                            >
                              <span>Expense</span>
                              <span class="float-right">
                                <div
                                  id="expense-category-filter"
                                  class="border-2 border-gray-500 bg-gray-50 text-gray-500 hover:border-cyan-700 text-sm hover:bg-cyan-50 py-1 px-2 rounded-lg"
                                >
                                  <% let thisYear = new Date().getFullYear(); %>
                                  <div class="hover:text-cyan-700">
                                    <span id="expense-category-selected-year"
                                      ><%= thisYear;%></span
                                    >
                                    <i class="fas fa-caret-down"></i>
                                  </div>
                                </div>
                                <div
                                  id="expense-category-options"
                                  class="border-2 rounded-lg border-gray-500 text-gray-500 text-sm text-center hidden"
                                >
                                  <ul>
                                    <li
                                      class="hover:text-cyan-900 hover:bg-cyan-50 rounded-lg"
                                    >
                                      <%= thisYear;%>
                                    </li>
                                    <li
                                      class="hover:text-cyan-900 hover:bg-cyan-50"
                                    >
                                      <%= thisYear-1;%>
                                    </li>
                                    <li
                                      class="hover:text-cyan-900 hover:bg-cyan-50 rounded-lg"
                                    >
                                      <%= thisYear-2;%>
                                    </li>
                                  </ul>
                                </div>
                              </span>
                            </dt>
                            <dd>
                              <div class="text-lg font-medium text-gray-900">
                                <% if(curYrExpenseByCatResult.length == 0) { %>
                                <div class="text-center">
                                  <span>Not Available!</span>
                                </div>
                                <% } else { %>
                                <div id="expense-category-detail">
                                  <span
                                    ><%= curYrExpenseByCatResult[0]["category"]
                                    %></span
                                  >
                                  <span class="float-right"
                                    >$<%=
                                    _.round(curYrExpenseByCatResult[0]["total"],2)
                                    %></span
                                  >
                                </div>
                                <% } %>
                              </div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-5 py-3">
                      <div class="text-sm">
                        <a
                          id="expense-category-expand"
                          class="font-medium text-cyan-700 hover:text-cyan-900"
                        >
                          View all
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Budget by categories -->
                <div class="mt-2 2xl:mt-3 xl:mt-3 lg:mt-3">
                  <!-- Card -->
                  <h2
                    class="text-lg mt-5 2xl:mt-12 xl:mt-12 lg:mt-12 leading-6 font-medium text-gray-900"
                  ></h2>
                  <div class="mt-2 bg-white overflow-hidden shadow rounded-lg">
                    <div class="p-5">
                      <div class="flex items-center">
                        <!-- <div class="flex-shrink-0">
                          <i class="far fa-money-bill-alt fa-2x"></i>
                        </div> -->
                        <div class="ml-5 w-0 flex-1">
                          <dl id="budget-category-data">
                            <dt
                              class="text-md font-medium text-gray-500 truncate mb-3"
                            >
                              <span>Budget</span>
                              <span class="float-right">
                                <div
                                  id="budget-category-filter"
                                  class="border-2 border-gray-500 bg-gray-50 text-gray-500 hover:border-cyan-700 text-sm hover:bg-cyan-50 py-1 px-2 rounded-lg"
                                >
                                  <div class="hover:text-cyan-700">
                                    <span id="budget-category-selected-year"
                                      ><%= thisYear;%></span
                                    >
                                    <i class="fas fa-caret-down"></i>
                                  </div>
                                </div>
                                <div
                                  id="budget-category-options"
                                  class="border-2 rounded-lg border-gray-500 text-gray-500 text-sm text-center hidden"
                                >
                                  <ul>
                                    <li
                                      class="hover:text-cyan-900 hover:bg-cyan-50 rounded-lg"
                                    >
                                      <%= thisYear;%>
                                    </li>
                                    <li
                                      class="hover:text-cyan-900 hover:bg-cyan-50"
                                    >
                                      <%= thisYear-1;%>
                                    </li>
                                    <li
                                      class="hover:text-cyan-900 hover:bg-cyan-50 rounded-lg"
                                    >
                                      <%= thisYear-2;%>
                                    </li>
                                  </ul>
                                </div>
                              </span>
                            </dt>
                            <dd>
                              <div class="text-lg font-medium text-gray-900">
                                <% if(curYrBudgetByCatResult.length == 0) { %>
                                <div class="text-center">
                                  <span>Not Available!</span>
                                </div>
                                <% } else { %>
                                <div id="budget-category-detail">
                                  <span
                                    ><%= curYrBudgetByCatResult[0]["category"]
                                    %></span
                                  >
                                  <span class="float-right"
                                    >$<%=
                                    _.round(curYrBudgetByCatResult[0]["total"],2)
                                    %></span
                                  >
                                </div>
                                <% } %>
                              </div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-5 py-3">
                      <div class="text-sm">
                        <a
                          id="budget-category-expand"
                          class="font-medium text-cyan-700 hover:text-cyan-900"
                        >
                          View all
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Expense & Budget by subcategory -->
              <div
                class="max-w-6xl mx-auto px-4 mb-5 sm:px-6 lg:px-8 grid grid-cols-1 gap-5 sm:grid-cols-1 lg:grid-cols-2"
              >
                <!-- expense by categories -->
                <div class="mt-2">
                  <!-- Card -->
                  <h2 class="text-lg mt-5 leading-6 font-medium text-gray-900">
                    Expense By Subcategory
                  </h2>
                  <div class="mt-2 bg-white overflow-hidden shadow rounded-lg">
                    <div class="p-5">
                      <div class="flex items-center">
                        <div class="flex-shrink-0">
                          <i class="far fa-money-bill-alt fa-2x"></i>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                          <dl>
                            <dt
                              class="text-sm font-medium text-gray-500 truncate"
                            >
                              <span>Cash Flow</span>
                            </dt>
                            <dd>
                              <div class="text-lg font-medium text-gray-900">
                                <span>Total</span>
                                <span class="float-right">$30,659.45</span>
                              </div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-5 py-3">
                      <div class="text-sm">
                        <a
                          href="#"
                          class="font-medium text-cyan-700 hover:text-cyan-900"
                        >
                          View all
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="mt-2">
                  <!-- Card -->
                  <h2 class="text-lg mt-5 leading-6 font-medium text-gray-900">
                    Budget By Subcategory
                  </h2>
                  <div class="mt-2 bg-white overflow-hidden shadow rounded-lg">
                    <div class="p-5">
                      <div class="flex items-center">
                        <div class="flex-shrink-0">
                          <i class="far fa-money-bill-alt fa-2x"></i>
                        </div>
                        <div class="ml-5 w-0 flex-1">
                          <dl>
                            <dt
                              class="text-sm font-medium text-gray-500 truncate"
                            >
                              <span>Cash Flow</span>
                            </dt>
                            <dd>
                              <div class="text-lg font-medium text-gray-900">
                                <span>Total</span>
                                <span class="float-right">$30,659.45</span>
                              </div>
                            </dd>
                          </dl>
                        </div>
                      </div>
                    </div>
                    <div class="bg-gray-50 px-5 py-3">
                      <div class="text-sm">
                        <a
                          href="#"
                          class="font-medium text-cyan-700 hover:text-cyan-900"
                        >
                          View all
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/navJs/nav.js"></script>
    <script>
      const totalIncomeResult = `<%- JSON.stringify(totalIncomeResult); %>`;
      const totalExpenseResult = `<%- JSON.stringify(totalExpenseResult); %>`;
      const curYearIncomeResult = `<%- JSON.stringify(curYearIncomeResult); %>`;
      const curYearExpenseResult = `<%- JSON.stringify(curYearExpenseResult); %>`;
      const curYearCashFlowResult = `<%- JSON.stringify(curYearCashFlowResult); %>`;
      const curYrExpenseByCatResult = `<%- JSON.stringify(curYrExpenseByCatResult); %>`;
      const oneYrExpenseByCatResult = `<%- JSON.stringify(oneYrExpenseByCatResult); %>`;
      const twoYrExpenseByCatResult = `<%- JSON.stringify(twoYrExpenseByCatResult); %>`;
      const curYrBudgetByCatResult = `<%- JSON.stringify(curYrBudgetByCatResult); %>`;
      const oneYrBudgetByCatResult = `<%- JSON.stringify(oneYrBudgetByCatResult); %>`;
      const twoYrBudgetByCatResult = `<%- JSON.stringify(twoYrBudgetByCatResult); %>`;
    </script>
    <script src="/js/util/overview.js"></script>
    <script src="/js/report/overview.js"></script>
  </body>
</html>
